*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: black;
}
body {
  background-color: #d7e3e8;
}
.movies {
  width: 90%;
  margin: 2rem auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
  max-width: 1250px;
  place-items: center;
}
.movie-link {
  box-shadow: 20px 28px 44px -49px rgba(0, 0, 0, 1);
  transition: transform 0.3s linear;
  background-color: #fff;
  border-radius: 1rem;
  overflow: hidden;
  position: relative;
  height: 400px;
  width: 300px;
}
.movie-link img {
  display: block;
  width: 100%;
}
.movie-link:hover {
  transform: scale(1.02);
}
.movie-info {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  font-size: 1.2rem;
  transform: translateY(100%);
  transition: transform 0.3s linear;
}
/* .movie-info:hover {
 
} */
.movie-link:hover .movie-info {
  transform: translateY(0);
}
.search-form {
  width: 90%;
  max-width: 1250px;
  margin: 2rem auto;
}
.search-form input {
  width: 100%;
  max-width: 500px;
  font-size: 1.3rem;
  padding: 0.5rem 1rem;
  letter-spacing: 2px;
  border: none;
  border-radius: 10px;
}
.error {
  font-size: 1.3rem;
  color: red;
  margin-top: 1rem;
}
.single-movie {
  padding: 2rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.single-movie-info {
  width: 500px;
  margin-top: 2rem;
}
.single-movie img {
  width: 90%;
  max-width: 500px;
}
.single-movie-info h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  letter-spacing: 2px;
}
.single-movie-info p {
  font-size: 1.2rem;
  letter-spacing: 2px;
}
.single-movie-info h5 {
  font-size: 1.7rem;
  margin: 1rem 0;
}
.btn {
  font-size: 1.2rem;
  text-transform: capitalize;
  padding: 0.5rem 0.3rem;
  background-color: rgb(56, 186, 218);
  border-radius: 5px;
  letter-spacing: 2px;
  color: white;
}
